@use "../variables/_base-font-size.scss" as size;
@use "../tools/functions" as *;
@use "../variables/resolutions" as with;

html,
body {
  font-size: size.$base-font-size;
  background-color: var(--a-white) !important;
  font-family: "Open Sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

