:root {
  --a-borderR--x6: 6px;
  --a-borderR--x10: 10px;
  --a-borderR--card: 22px;
  --a-borderR--btn: 10px;
  --a-borderR--input: 16px;
  --a-borderR--dialog: 40px;
  --a-borderR--x30: 30px;
}

