@use "base/global";
@use "base/fonts";
@use "variables/colors";
@use "variables/rounding";
@use "tailwindcss" as *;
@use "@nuxt/ui" as *;

:root {
  --system-font:
    -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue",
    arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", sans-serif;
}

body {
  font-family: var(--system-font);
}

